.modal-settings {
 
  p {
    // font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  &> div > div {
    // border: 1px solid red;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &> div {
      // border: 1px solid gold;
      @include flexCenter();
      gap: 5px;

      p {
        font-size: 12px;
      }

      .val {
        border: 1px solid $primaryColor-6;
        // border: 1px solid $secondaryColor-1;
        background-color: $primaryColor-4;
        border-radius: 5px;
        width: 70px;
        height: 25px;
        @include flexCenter();
      
        letter-spacing: 1px;
        font-size: 14px;
      }
    }


    button {
      background-color: $primaryColor-1;
      // border: 1px solid purple;
      border-radius: 50%;

      height: 40px;
      width: 40px;

      font-size: 32px;
      // line-height: 48px;
      color: $primaryColor-6;

      &:hover {
        background-color: $secondaryColor-1;

      }
    }
  }
}