@use "sass:color";

@mixin flexCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// @mixin defineColorRGB($color-name, $value) {
//   $red: color.red($value);
//   $green: color.green($value);
//   $blue: color.blue($value);
//   #{$color-name}: unquote("rgb(#{$red}, #{$green}, #{$blue})");
//   #{$color-name}-rgb: $red,$green,$blue;
//   #{$color-name}-r: $red;
//   #{$color-name}-g: $green;
//   #{$color-name}-b: $blue;
// }

