* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

*::-moz-selection {
  background: #f41361;
}

*::selection {
  background: #f41361;
}

body {
  font-family: 'Montserrat', sans-serif;
}

#root {
  background-color: #f1f5fb;
}

.App {
  height: 100vh;
  max-width: 600px;
  min-width: 360px;
  margin: 0 auto;
  color: #f1f5fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main {
  position: relative;
  height: 100%;
}

main .container-middle {
  background: linear-gradient(120deg, #0f131f 10%, #5068a9 60%);
  height: 50vh;
}

main .container-timer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .container-timer .timer-progressbar {
  border: 10px solid #f41361;
  border-radius: 50%;
  position: relative;
  width: 300px;
  height: 300px;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .container-timer .timer-progressbar .timer {
  width: 100%;
  font-size: 60px;
  -webkit-font-feature-settings: "lnum";
          font-feature-settings: "lnum";
}

main .container-timer .timer-progressbar .timer > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .container-timer .timer-progressbar .timer .timer-mins {
  left: 30%;
}

main .container-timer .timer-progressbar .timer .timer-secs {
  left: 70%;
}

main .container-timer .timer-progressbar .timer-type {
  border: 1px solid red;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 18px;
  text-transform: uppercase;
}

.btn {
  background-color: #f1f5fb;
  width: 125px;
  padding: 10px 15px;
  color: #0f131f;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: #f41361;
}

header {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #0f131f), color-stop(88%, #5068a9));
  background: linear-gradient(90deg, #0f131f 25%, #5068a9 88%);
  height: 75px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-settings {
  background-color: #f1f5fb;
  position: relative;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

header .logo-settings:hover {
  background-color: #f41361;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .logo-settings:hover svg {
  color: #192136;
}

header .logo-settings svg {
  height: 35px;
  color: #192136;
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-settings {
  height: 100%;
  padding: 25px;
  color: #f1f5fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.modal-settings p {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modal-settings > div {
  width: 250px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-settings > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.modal-settings > div > div p {
  font-size: 12px;
}

.modal-settings > div > div .val {
  border: 1px solid #0f131f;
  background-color: #324e7b;
  border-radius: 5px;
  width: 70px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-size: 14px;
}

.modal-settings > div button {
  background-color: #f1f5fb;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 32px;
  color: #0f131f;
}

.modal-settings > div button:hover {
  background-color: #f41361;
}

.modal-settings input {
  background-color: #f1f5fb;
  width: 60px;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */