* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  font-family: inherit;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
textarea,
select {
  -moz-appearance: none !important;
  appearance: none !important;
  -webkit-appearance: none !important;
  border-radius: 0;
}

*::-moz-selection {
  background: #f41361;
}

*::selection {
  background: #f41361;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f5fb;
}

#root {
  --progress: 936;
}

.App {
  min-height: 100vh;
  height: 100vh;
  max-width: 600px;
  min-width: 360px;
  margin: 0 auto;
  color: #f1f5fb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

main .container-middle {
  background: linear-gradient(120deg, #0f131f 10%, #5068a9 60%);
  height: 50vh;
}

.btn {
  background-color: #f1f5fb;
  width: 125px;
  padding: 10px 15px;
  color: #0f131f;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn:hover {
  background-color: #f41361;
}

.container-mid-top {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}

.container-mid-top button {
  background-color: rgba(241, 245, 251, 0.2);
  border-radius: 5px;
  width: 125px;
  height: 30px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.container-mid-top button:hover {
  background-color: #f41361;
  color: #0f131f;
}

.container-mid-top button:focus {
  border: 1px solid #f41361;
}

.container-mid-top button:disabled {
  background-color: rgba(241, 245, 251, 0.05);
  color: rgba(241, 245, 251, 0.2);
  cursor: default;
}

.container-mid-mid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-mid-bot {
  height: 75px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f5fb;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(80, 104, 169, 0.75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(244, 19, 97, 0.8);
}

header {
  background: -webkit-gradient(linear, left top, right top, color-stop(25%, #0f131f), color-stop(88%, #5068a9));
  background: linear-gradient(90deg, #0f131f 25%, #5068a9 88%);
  min-height: 50px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-settings {
  background-color: #f1f5fb;
  position: relative;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}

header .logo-settings:hover {
  background-color: #f41361;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

header .logo-settings:hover svg {
  color: #192136;
}

header .logo-settings svg {
  height: 30px;
  color: #192136;
  fill: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal-settings p {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.modal-settings > div > div {
  width: 250px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-settings > div > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.modal-settings > div > div > div p {
  font-size: 12px;
}

.modal-settings > div > div > div .val {
  border: 1px solid #0f131f;
  background-color: #324e7b;
  border-radius: 5px;
  width: 70px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-size: 14px;
}

.modal-settings > div > div button {
  background-color: #f1f5fb;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 32px;
  color: #0f131f;
}

.modal-settings > div > div button:hover {
  background-color: #f41361;
}

.container-tasks {
  background: linear-gradient(120deg, #2a3658, #5068a9 30%);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container-tasks .tasks-box {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 15px;
}

.container-tasks .tasks-box .tasks-header {
  border-bottom: 2px dotted #f1f5fb;
  width: 450px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-tasks .tasks-box .tasks-header p {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.container-tasks .tasks-box .task-list {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.container-tasks .tasks-box button {
  margin-bottom: 15px;
}

.task-box {
  background-color: rgba(241, 245, 251, 0.2);
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  color: #f1f5fb;
  width: 100%;
  height: 50px;
  -webkit-transition: background-color .5s ease;
  transition: background-color .5s ease;
}

.task-box:hover {
  background-color: rgba(244, 19, 97, 0.2);
}

.task-box .task-status {
  background-color: #f1f5fb;
  height: 100%;
  width: 5px;
}

.task-box .task-status.active {
  background-color: #f41361;
}

.task-box .task-subject {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-box .task-subject input {
  height: 100%;
  width: 100%;
  padding: 5px;
  color: inherit;
  font-size: 24px;
}

.task-box .task-subject input:focus {
  background-color: rgba(241, 245, 251, 0.75);
  color: #0f131f;
}

.task-box .task-runs {
  height: 100%;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task-box .task-del {
  background-color: #f1f5fb;
  border-radius: 50%;
  position: relative;
  height: 30px;
  width: 30px;
  margin: 10px;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  cursor: pointer;
}

.task-box .task-del:hover {
  background-color: #f41361;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
}

.task-box .task-del svg {
  height: 25px;
  fill: #0f131f;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-mid {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-mid .timer-progressbar {
  border: 2px dotted #f1f5fb;
  border-radius: 50%;
  position: relative;
  width: 300px;
  height: 300px;
  letter-spacing: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-mid .timer-progressbar .timer {
  width: 100%;
  font-size: 60px;
}

.container-mid .timer-progressbar .timer > div {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container-mid .timer-progressbar .timer .timer-mins {
  left: 30%;
}

.container-mid .timer-progressbar .timer .timer-secs {
  left: 70%;
}

.container-mid .timer-progressbar .progress-bar {
  position: relative;
  width: 310px;
  height: 310px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.container-mid .timer-progressbar .progress-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 310px;
  height: 310px;
}

.container-mid .timer-progressbar .progress-bar svg #pb {
  fill: none;
  stroke: #f41361;
  stroke-width: 5px;
  stroke-dasharray: 936;
  stroke-dashoffset: var(--progress);
  -webkit-transition: stroke-dashoffset 1s linear;
  transition: stroke-dashoffset 1s linear;
}

.container-mid .timer-progressbar .timer-type {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid rgba(15, 19, 31, 0.5);
  background-color: rgba(50, 78, 123, 0.5);
  border-radius: 5px;
  padding: 0 15px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */