header {
  background: linear-gradient(120deg, var(--color3) 25%, var(--color2) 88%);

  min-height: 50px;
  padding: 0 10px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo-box {
    position: relative;
    display: flex;
    align-items: flex-end;
    gap: 15px;
    
    svg {
      fill: var(--color1);
      height: 35px;
      width: 35px;
    }

    p {
      font-size: 20px;
      pointer-events: none;  
    }
    
    .small-the {
      position: absolute;
      font-size: 12px;
      top: 0;
      left: 55px;
    }
  }

  .logo-settings {
    background-color: var(--color1);
    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;

    transition: all 1s ease;
    cursor: pointer;

    &:hover {
      background-color: var(--color4);
      transform: rotate(90deg);
      
      svg {
        color: var(--color3);
      }
    }
    
    svg {
      height: 30px;
      color: var(--color3);
      fill: transparent;
      @include absoluteCenter();
    }
  }
}
