.container-tasks {
  background: linear-gradient(120deg, var(--color3) -25%, var(--color2) 30%);
  flex: 1;



  .tasks-box {
    height: 100%;
    width: 100%;
    @include flexCenter();
    justify-content: flex-start;
    gap: 15px;

    .tasks-header {
      border-bottom: 2px dotted var(--color1);
      width: 450px;
      height: 50px;
      @include flexCenter();

      p {
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }

    .task-list {
      width: 450px;

      @include flexCenter();
      gap: 15px;
    }

    button {
      margin-bottom: 15px;
    }
  }
}