.container-mid {
  height: 100%;

  @include flexCenter();
  justify-content: space-around;

  
  .container-mid-top {
    height: 75px;
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }
  
  .container-mid-mid {
    // border: 1px solid gold;
    flex: 1;
    width: 100%;
    
    @include flexCenter();
  }
  
  .container-mid-bot {
    // border: 1px solid red;
    height: 75px;
    width: 100%;
    
    @include flexCenter();
  }
  

  .timer-progressbar {
    border: 2px dotted var(--color1);
    border-radius: 50%;

    position: relative;
    
    width: 300px;
    height: 300px;
    
    letter-spacing: 5px;

    @include flexCenter();

    .timer {
      width: 100%;
      font-size: 60px;

      & > div {
        @include absoluteCenter();
      }

      .timer-mins {
        left: 30%;
      }

      .timer-secs {
        left: 70%;
      }

    }
    
    .progress-bar {
      position: relative;

      width: 310px;
      height: 310px;
      
      transform: rotate(-90deg);
      
      svg {
        @include absoluteCenter();
        width: 310px;
        height: 310px;
        
        #pb {
          fill: none;
          stroke: var(--color4);
          stroke-width: 5px;
          stroke-dasharray: 936;
          stroke-dashoffset: var(--progress);
          transition: stroke-dashoffset 1s linear;
        }
      }
    }

    .timer-type {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);     

      border: 1px solid rgba(var(--color1-rgb), .5);
      background-color: rgba(var(--color3-rgb), .5);
      border-radius: 5px;
      padding: 0 15px;
      height: 25px;
      @include flexCenter();
    
      letter-spacing: 1px;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}